// Font Sizing
$titleFontSize: 49px;
$titleLineHeight: 73px;
$baseFontSize: 16px;
$headingFontSize: 39px;
$baseLineHeight: 24px;
$headingLineHeight: 59px;
$buttonFontSize: 20px;
$buttonLineHeight: 30px;
$subtitleFontSize: 13px;
$subtitleLineHeight: 19px;

// Colors
$black: #373737;
$gray: #7b7b7b;
$white: #ffffff;
$red: #ff5300;
$pink: #fff7f4;

// Spacing
$pad: 1em;
$mb: 18px;

// Breakpoints
$smallBreakpoint: 600px;
$largeBreakpoint: 1080px;
